:root {
  --bg:#0B0C10;
  --pri: #45A29E;
  --sec: #66FCF1;
  --light:#C5C6C7;
  --dark: #1f2833;
  --danger: #dc3545;
  --success: #44f759;
  --info: #19a8be;
  --warning: #fccf49;

  font-family: cursive, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--bg);
  color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background-color: var(--bg) !important;
  color: var(--light) !important;
}
.t {
  border: 1px solid tomato;
}
