:root {
  --bg: #0b0c10;
  --pri: #0ccdc3;
  --sec: #00ffff;
  --light: #c5c6c7;
  --dark: #1f2833;
  --danger: #dc3545;
  --success: #44f759;
  --info: #19a8be;
  --warning: #fccf49;

  font-family: cursive, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--bg);
  color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background-color: var(--bg) !important;
  color: var(--light) !important;
}
::-webkit-scrollbar {
  display: none;
}
#root {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.t {
  border: 1px solid tomato;
}
